html {
  height: fill-available;
  height: -webkit-fill-available;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h2 {
    @include breakpoint-max(lg) {
      font-size: 18px;
    }
  }

  p {
    font-size: 18px;

    @include breakpoint-max(xxl) {
      font-size: 16px;
    }

    @include breakpoint-max(sm) {
      font-size: 14px;
    }
  }
}

body {
  min-height: 100vh;
  min-height: fill-available;
  min-height: -webkit-fill-available;
}

.error-metamask {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: $error;
}

button {
  background-color: $black;
  color: $white;
  text-align: center;
  padding: $padding3 $padding4;
  cursor: pointer;
  border: unset;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
  border-radius: 5px;

  &:hover {
    background-color: $white;
    color: $black;
  }
}

input:not([type='radio']):not([type='checkbox']) {
  padding: $padding3;
  padding-right: $padding4;
  background-color: $white;
  border: 1px solid $white;
  width: 100%;
  max-width: 500px;
  margin: $padding4 auto;
  display: block;

  @include breakpoint-max(sm) {
    width: 90%;
  }
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $mineShaftBackground;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $black;

  &.show-default {
    opacity: 1;
    pointer-events: auto;
  }

  .close-button {
    top: 30px;
    right: 30px;
    color: $white;
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .submit-button {
    margin-top: $padding4;
  }
}

.form-error {
  font-size: 14px;
  color: $error;
}

.file-container {
  &.hidden {
    display: none;
  }
}

.preview-image-container {
  position: relative;

  svg {
    position: absolute;
    top: -15px;
    right: -20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }

  .preview-image {
    width: 300px;
    height: auto;
    margin: $padding3 auto;
    display: block;

    img {
      width: 100%;
    }
  }
}

input[type='file'] {
  opacity: 0;
  padding: 0 !important;
  margin: 0 !important;
  height: 0;
}

button {
  &.loading {
    cursor: not-allowed;
  }
}

.page {
  background-color: $gray;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: $spacing;

  @include breakpoint-max(lg) {
    padding: $spacing $padding3;
  }
}

.success-modal {
  pointer-events: initial;
  opacity: 1;

  .modal-inner {
    color: $black;
    padding: $spacing;
    width: 500px;
    background-color: $white;
    border-radius: 10px;
  }
}

.fade-in-up {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

p.error {
  color: $error;
}


