.driver-map {
  .map-button {
    z-index: 10000;

    @include breakpoint-max(sm) {
      padding: $padding3;
    }
  }

  &.dark {
    .map-button,
    .bottom-status-container {
      background-color: $white;
      color: $black;
    }

    .bottom-status-container {
      &::after {
        border-bottom: 2px solid $black;
      }

      &.online {
        &.active {
          .order-item {
            border-color: $black;

            button {
              background-color: $black;
              color: $white;
            }
          }
        }
      }
    }
  }

  &.light {
    color: $black;

    .map-button,
    .bottom-status-container {
      background-color: $black;
      color: $white;
    }

    .bottom-status-container {
      &::after {
        border-bottom: 2px solid $white;
      }

      &.online {
        &.active {
          .order-item {
            border-color: $white;

            button {
              background-color: $white;
              color: $black;
            }
          }
        }
      }
    }
  }

  .layer-button {
    position: absolute;
    bottom: 150px;
    left: 10px;
  }

  .open-google-map {
    position: absolute;
    bottom: 200px;
    left: 10px;
  }
  .start-close-button-container {
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%) !important;
    position: absolute;
    z-index: 10000;
  }

  .start-button {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
  }

  .bottom-status-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    z-index: 10000;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    overflow-y: auto;
    height: 57px;
    transition: height 0.2s linear;

    &.online {
      overflow-y: hidden;

      .display-order {
        cursor: pointer;
        font-size: 14px;
      }

      .order-container {
        height: 0;
        opacity: 0;
        transition: opacity 0.2s linear;
        overflow: hidden;

        .order-item {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          align-items: center;
          text-align: left;
          border: 1px solid $white;
          border-radius: 5px;
          padding: $padding2 $padding3;
          margin: $padding3 0;

          p {
            padding: $padding2 0;
          }
        }
      }

      &.active {
        height: 50%;
        overflow-y: auto;

        .order-container {
          height: auto;
          opacity: 1;
          margin-top: $padding3;

          p {
            font-size: 14px;
          }
        }

        &::after {
          display: none;
        }
      }

      p {
        margin: 0;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 100%;
        transform: translateX(-50%);
        width: 50px;
        animation: dash-left-right 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite alternate;
      }
    }
  }

  .leaflet-right {
    width: 100%;
  }

  .leaflet-routing-container {
    border: none;
    width: 100%;
    margin: 0;
    margin-top: $padding4;

    .leaflet-routing-alt {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      width: 50%;
      margin: 0 auto;
      background-color: $white;
      padding: $padding3 0;
      border-radius: 10px;
      box-shadow: 0 0 5px 5px $grey;

      @include breakpoint-max(sm) {
        width: 90%;
      }

      h2 {
        display: none;
      }

      h3 {
        margin-bottom: 0;

        &::before {
          content: 'Total: ';
        }
      }

      tbody {
        tr {
          display: none;
          font-size: 14px;
          font-weight: bold;

          &:first-child {
            display: block;
          }
        }
      }

      &-minimized {
        display: none;
      }
    }
  }
}
