// Font Family
$primaryFont: 'Roboto', sans-serif;

// Colors
$black: #000;
$grey: grey;
$error: red;
$white: white;
$aqua: #00FFFF;
$gray: #1e1e1e;
$mineShaft: #303030;
$mineShaftBackground: rgba(48,48,48, .7);

// Media query breakpoints
$breakpoints: (
  "xsm": 400px,
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
  "xxxl": 1600px,
  "xxxxl": 1900px,
);

// Spacing
$spacing: 50px;
$spacingMobile: 25px;

$padding1: 4px;
$padding2: 8px;
$padding3: 16px;
$padding4: 32px;
$padding5: 64px;
$padding6: 128px;