.login,
.sign-up-form {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    text-transform: capitalize;
  }

  form {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    color: $white;
    border: 1px solid $white;
    padding: 2rem;
    border-radius: 10px;

    h2 {
      margin-bottom: $padding4;
    }

    input {
      margin-top: $padding3;
    }

    label {
      font-size: 14px;
    }

    .sign-up-button {
      font-size: 13px;
      cursor: pointer;
    }
  }
}
