.add-meal,
.edit-meal {
  color: $black;

  .close-button {
    cursor: pointer;
  }

  .preview-image-container {
    position: relative;

    svg {
      position: absolute;
      top: 0px;
      right: 20px;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    .preview-image {
      width: 300px;
      height: auto;
      margin: $padding3 auto;
      display: block;

      img {
        width: 100%;
      }
    }
  }

  .category-select {
    &__control {
      border: 1px solid $gray;
      height: 49px;
      border-radius: 0;
      text-align: left;
      font-size: 13px;
      padding-left: $padding2;
      color: $black;
    }

    &__single-value {
      color: $black;
    }

    &__menu {
      text-align: left;
      font-size: 12px;
      border-radius: 0;
    }
  }

  input:not([type='file']) {
    padding: $padding3;
    padding-right: $padding4;
    background-color: $white;
    border: 1px solid $gray;
    width: 100%;
    min-width: 300px;
    border-radius: 0;
  }

  input[type='file'] {
    display: none;
  }

  .upload-button {
    border-radius: 0;
  }

  textarea {
    width: 100%;
    max-width: 350px;
    max-height: 250px;
    border-radius: 0;
  }

  form {
    max-width: 350px;
    height: 100%;
  }

  &.visible {
    opacity: 1;
    pointer-events: auto;
  }

  .delete-button {
    margin-right: $padding3;
    background-color: $grey;

    &:hover {
      background-color: $error;
    }
  }

  .modal-inner {
    padding: $spacing;
    width: 65%;
    max-height: 80%;
    border-radius: 15px;
    background-color: $white;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: auto;

    @include breakpoint-max(sm) {
      width: 95%;
    }
  }
}
