.owner-account {
  &-inner {
    color: $white;
    text-align: center;

    &.category-setting {
      .filter-type {
        label {
          margin: 0 $padding3;
        }
      }

      .menu-category {
        .category-item {
          margin: $padding4 auto;
          padding: $padding3 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          max-width: 500px;
          border: 1px solid $white;
          border-radius: 10px;

          input[type='text'] {
            width: 100%;
            max-width: 300px;
            margin-top: 0;
          }

          button {
            margin-top: $padding3;
          }

          .category-img {
            margin: $padding4 0;
            width: 300px;
            object-fit: cover;
          }
        }
      }
    }
  }

  .add-edit-category-modal {
    &.edit-modal {
      form {
        button {
          width: 40%;

          &.remove-button {
            margin-right: $padding3;

            background-color: $grey;

            &:hover {
              background-color: $error;
            }
          }
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      color: $white;
      width: 400px;

      button {
        margin-top: $padding3;
      }
    }

    .menu-category-preview-img {
      margin: $padding4 0;
      position: relative;

      .close-button {
        position: absolute;
        z-index: 1;
        top: 0;
        color: $black;
        right: 0;
      }
      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .menu-category-input,
  .hero-image-upload,
  .card-image {
    border: 1px solid $white;
    border-radius: 10px;
    margin: $padding4 auto;
    max-width: 400px;
    padding: $padding3 $padding4;
    position: relative;

    img {
      width: 100%;
    }

    .delete-button {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 20px;
      cursor: pointer;
    }

    input[type='text'] {
      width: 100%;
      margin: $padding3 auto;
    }
  }
}
