.join-restaurant-form {
  min-height: 100vh;
  width: 100%;
  padding: $spacing 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: $white;

  h2,
  label {
    width: 100%;
    text-align: center;
    color: $white;
  }

  .restaurant-form {
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    width: 100%;
    position: relative;

    input {
      padding: 16px;
      padding-right: 32px;
      background-color: #fff;
      border: 1px solid #fff;
      width: 100%;
      max-width: 500px;
      margin: $padding4 0;

      @include breakpoint-max(sm) {
        width: 90%;
      }
    }

    .open-close-time {
      display: flex;
      width: 100%;
      max-width: 500px;
      gap: 0px 50px;

      .open-time,
      .close-time {
        width: 100%;
      }

      @include breakpoint-max(sm) {
        flex-direction: column;
        width: 90%;

        .open-time,
        .close-time {
          input {
            max-width: 100%;
            width: 500px;
            height: 49px;
          }
        }
      }
    }
  }

  .address-search {
    margin: 0;
    width: 100%;
    justify-content: center;

    @include breakpoint-max(sm) {
      max-width: 100%;
    }

    svg {
      display: none;
      right: 30px;
    }
  }

  .address-search-result {
    top: 265px;
    z-index: 2;

    &.has-result {
      box-shadow: 1px 1px 1px 1px $black;
    }
  }

  .error-message {
    top: 265px;

    &.hidden {
      display: none;
    }

    &.visible {
      display: block;
    }
  }
}

.restaurant-setting-form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  max-width: 400px;

  label {
    margin-right: $padding3;
  }

  input:not([type='radio']):not([type='checkbox']) {
    max-width: 300px;
  }

  .menu-category-input,
  .hero-image-upload,
  .card-image {
    border: 1px solid $white;
    border-radius: 10px;
    margin: $padding4 auto;
    max-width: 400px;
    padding: $padding3 $padding4;
    position: relative;

    .delete-button {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 20px;
      cursor: pointer;
    }

    input[type='text'] {
      width: 100%;
      margin: $padding3 auto;
    }
  }

  .card-image,
  .hero-image {
    margin: $padding5 auto;

    .file-container {
      margin: $padding4 0;
    }
  }
}
