.sign-up-form {
  form {
    width: 580px;

    .input-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      div {
        width: 50%;

        input {
          width: 95%;
        }

        @include breakpoint-max(sm) {
          width: 100%;
        }
      }
    }
  }
}
