.address-search {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 500px;
  margin: 0px $padding3;
  z-index: 1;

  @include breakpoint-max('sm') {
    width: 90%;
  }

  &.loading {
    .submit-button {
      display: none;
    }

    .loading-icon {
      display: block;
    }
  }

  input {
    padding: $padding3;
    padding-right: $padding4;
    background-color: $white;
    border: 1px solid $white;
    width: 100%;
  }

  svg {
    font-size: 25px;
    position: absolute;
    right: 10px;
    color: $black !important;
    cursor: pointer;
  }

  .loading-icon {
    display: none;
  }
}

.error-message {
  color: $error;
  position: absolute;
  z-index: 1;
  top: calc(50% + 45px);
}

.address-search-result {
  width: 100%;
  max-width: 500px;
  background-color: $white;
  z-index: 1;
  margin-top: $padding2;
  position: absolute;
  top: calc(50% + 80px);
  max-height: 300px;
  overflow-y: auto;
  overflow: hidden;

  &-item {
    cursor: pointer;
    padding: $padding3 0px;
    transition: background-color 0.3s ease-out, color 0.3s ease-out;

    &:hover {
      background-color: $gray;

      p {
        color: $white;
      }
    }
  }

  p {
    color: $black;
    padding: 0px $padding3;
    cursor: pointer;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
  }
}
