.home-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-image: url('../../public/imgs/home-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  flex-direction: column;

  .overlay {
    position: absolute;
    background-color: $black;
    opacity: 0.3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  h2 {
    z-index: 1;
  }

  
}
