.restaurant-detail {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: $spacing 0px;
  color: $white;

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid $white;
    border-radius: 15px;
    padding: $padding4;

    @include breakpoint-max(md) {
      padding: $padding3;
      margin: 0px $padding3;
    }

    p {
      @include breakpoint-max(md) {
        text-align: center;
      }
    }

    span {
      font-weight: bold;
    }

    .name {
      padding: 0px $padding3;

      h2 {
        font-size: 32px;
      }
    }

    .description {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      p {
        padding: 0px $padding3;
      }

      @include breakpoint-max(md) {
        justify-content: center;
      }
    }

    .info {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: $padding3;

      p {
        padding: 0px $padding3;
      }

      @include breakpoint-max(md) {
        justify-content: center;
      }
    }
  }
}
