.start-eating {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $mineShaft;
  min-height: 100vh;

  .no-nearby {
    color: $white;
    height: 50vh;
    display: flex;
    align-items: center;

    strong {
      padding-left: $padding2;
    }
  }

  .eat-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    flex-direction: column;

    @include breakpoint-max(xxxl) {
      max-width: 70%;
    }

    @include breakpoint-max(xxl) {
      max-width: 80%;
    }
  }
}
