.driver-home {
  padding: 0;

  .before-locating {
    color: $white;
    position: absolute;
    z-index: 1;
    top: calc(50% + 45px);
    width: 100%;
    text-align: center;
  }
  
  &.driver-not-login {
    padding: $spacing;

    @include breakpoint-max(lg) {
      padding: $spacing $padding3;
    }
  }

  .driver-map {
    width: 100%;
    top: 90px;
    position: relative;
    height: calc(100vh - 90px) !important;

    @include breakpoint-max(sm) {
      top: 74px;
      height: calc(100vh - 74px) !important;
    }
  }
}
